<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    handlebars cdn
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js">
    <title>Document</title>
</head>
<body>
    <form action="/registro" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="adress">Adress</label>
        <input type="text" name="adress" id="adress">
        <label for="age">Age</label>
        <input type="number" name="age" id="age">
        <label for="phone">Phone</label>
        <input type="number" name="phone" id="phone">
        <label for="image">Image</label>
        <input type="file" name="image" id="image">
        <button type="submit">Register</button>
    
</body>
</html>